body{
    background:#0d1117;
    color:#e6edf3;
    font-family:sans-serif;
    margin:0;
    padding:5%;
}

.screen{
    max-width:90%;
    margin:auto;
}

.field{
    margin-bottom:3%;
}

input{
    width:100%;
    padding:2.5%;
    background:#161b22;
    border:0.3% solid #30363d;
    border-radius:1.2%;
    color:white;
    font-size:4%;
}

button{
    width:100%;
    padding:3%;
    margin-top:2.5%;
    background:#238636;
    border:none;
    color:white;
    font-size:4.5%;
    cursor:pointer;
    border-radius:1.2%;
}

button:hover{
    background:#2ea043;
}

.hidden{
    display:none;
}

.warn{
    color:#ff4d4d;
    font-size:3.5%;
}

.log-item{
    background:#161b22;
    border:0.3% solid #30363d;
    padding:2.5%;
    margin-bottom:2%;
    border-radius:1.2%;
}

/* ============================
   LIMITES PARA LOG E TABELA
============================ */

#log{
    max-height:60%;
    overflow-y:auto;
    padding:2.5%;
    box-sizing:border-box;
}

#analyticTable{
    max-height:60%;
    overflow-y:auto;
    margin-top:5%;
}

/* ============================
   GRÁFICOS
============================ */

.chart-wrapper{
    background:#161b22;
    border:0.3% solid #30363d;
    padding:3.5%;
    border-radius:1.6%;
    margin-bottom:5%;
}

#chart{
    width:100% !important;
    height:52% !important;
}

#chartExtras{
    width:100% !important;
    height:36% !important;
    margin-top:5%;
}

/* Tabela analítica */
#analyticTableInner th,
#analyticTableInner td{
    border-bottom:0.3% solid #30363d;
    padding:1.5%;
    font-size:3%
}

/* scrollbar bonito */
#log::-webkit-scrollbar,
#analyticTable::-webkit-scrollbar{
    width:1.2%;
}

#log::-webkit-scrollbar-thumb,
#analyticTable::-webkit-scrollbar-thumb{
    background:#30363d;
    border-radius:0.8%;
    }
