body{
    background:#0d1117;
    color:#e6edf3;
    font-family:sans-serif;
    margin:0;
    padding:20px;
}

.screen{
    width:90%;
    margin:auto;
}

.field{
    margin-bottom:2.5rem;
}

h1 {
	font-size:4rem;
}

label {
	font-size: 2rem;
}

input{
    width:100%;
    padding:1rem;
    background:#161b22;
    border:1px solid #30363d;
    border-radius:6px;
    color:white;
    font-size:1.5rem;
}

button{
    width:100%;
    padding:12px;
    margin-top:10px;
    background:#238636;
    border:none;
    color:white;
    font-size:3rem;
    cursor:pointer;
    border-radius:6px;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

button:hover{
    background:#2ea043;
}

.hidden{
    display:none;
}

.warn{
    color:#ff4d4d;
    font-size:14px;
}

.log-item{
    background:#161b22;
    border:1px solid #30363d;
    padding:10px;
    margin-bottom:8px;
    border-radius:6px;
}

/* ============================
   LIMITES PARA LOG E TABELA
============================ */

#log{
    max-height:300px;
    overflow-y:auto;
    padding:10px;
    box-sizing:border-box;
    margin-top: 4rem;
    margin-bottom: 5rem;
}

#analyticTable{
    max-height:300px;
    overflow-y:auto;
    margin-top:4rem;
    margin-bottom: 5rem;
}

/* ============================
   GRÁFICOS
============================ */

.chart-wrapper{
    background:#161b22;
    border:1px solid #30363d;
    padding:15px;
    border-radius:8px;
    margin-bottom: 5rem;
}

#chart{
    width:100% !important;
    height:560px !important;
    margin-bottom: 5rem;
}

#chartExtras{
    width:100% !important;
    height:180px !important;
    margin-top:4rem;
}

/* Tabela analítica */
#analyticTableInner th,
#analyticTableInner td{
    border-bottom:1px solid #30363d;
    padding:6px;
    font-size:1rem;
    margin-bottom: 5rem;
}

/* scrollbar bonito */
#log::-webkit-scrollbar,
#analyticTable::-webkit-scrollbar{
    width:6px;
}

#log::-webkit-scrollbar-thumb,
#analyticTable::-webkit-scrollbar-thumb{
    background:#30363d;
    border-radius:4px;
}